html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

form {
    width: 500px;
    margin: 10px auto;
}

fieldset {
    padding: 10px;
}

fieldset > div+div {
    margin-top: 25px;
}

label {
    display: inline-block;
    width: 30%;
    text-align: end;
}

input {
    appearance: none;
    width: 60%;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    outline: none;
    border: 1px black solid;
}

/* input:valid {
    border-color: green;
} */

input + span {
    display: block;
    /* position: absolute; */
}





