html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

form {
    width: 500px;
    margin: 10px auto;
}

fieldset {
    padding: 10px;
}

fieldset > div+div {
    margin-top: 25px;
}

/* label {
    width: 200px;
} */



